@model IEnumerable<AuthorCoreWebsiteTemplate.Models.Blog>

@{
    ViewData["Title"] = "Index";
}

<center>
    <h2>Browse Through Samples Interactively</h2>

    <iframe src="https://c.simmer.io/static/unityFrame/index.html?url=https%3A%2F%2Fsimmercdn.com%2Funity%2FEOhGjrSiuvhx8rMikUlXvRIxhvH2%2Fcontent%2Fe201aa7c-fe17-debe-8309-88d5fd22ae1c&imagePath=screens/3.png" style="width:960px;height:600px;border:0;"></iframe>


    <h2>Latest Blog Posts</h2>
</center>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Content)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
